* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #121212; /* Fundo escuro estilo modo noturno */
    color: #e0e0e0; /* Texto claro mais claro para visualizar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: #80d8ff; /* Azul claro */
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #80d8ff;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.centered {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: slideIn 1.5s ease;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #1f1f1f;
    color: #ffffff;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
    margin-top: auto;
}

button {
    background-color: #80d8ff;
    color: #121212;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff;
    color: #121212;
}

.hidden {
    display: none;
}

/* Foto de perfil circular */
.perfil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #80d8ff; /* Borda azul claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Efeitos de animação FadeIn e SlideIn para adicionar mais fluidez no site*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.portfolio-item {
    margin: 2rem 0;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.portfolio-item p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #80d8ff; /* Azul claro */
}
